.log-in-box
  border-radius 10px
  margin 50px auto
  width 560px
  background-color #eee
  padding 20px
  box-shadow 0 3px 15px #072454

  .login-logo
    height 40px
    margin 0 0 10px 135px

  form
    padding 0
    text-align center

    legend
      font-size 25px
      color #888
      padding 0 15px
      letter-spacing 1px

    label
      display block
      text-align left
      color #888
      font-size 16px
      margin 15px 0 3px 10px
      letter-spacing .5px

    input
      color #666
      width 495px
      height 35px
      padding 0 10px

    input:focus
      outline none
      box-shadow inset 1px 1px 3px #eee

    input:last-child
      margin-bottom 15px

    button
      width 100px
      height 30px
      margin 20px auto 5px auto
      background-color #ccc
      border 1px solid #aaa
      border-radius 3px
      font-size 14px
      color #666

    button:hover
      background-color #ddd

    button:focus
      outline none

  .error
    width 100%
    height 30px
    padding-top 9px
    background-color #F05164
    opacity .6
    font-size 18px
    text-align center
    color #000
    margin-bottom 0
