html 
  outline none

body
  background-color #2a4e7c
  width 100%
  overflow auto
  font-family helvetica, sans-serif

.four-oh-four
  text-align center
  margin-top 70px

  h1
    color #fff
    font-size 40px

.container
  width 900px
  margin 0 auto
  overflow hidden

header 
  width 100%
  height 50px
  background-color #0e2d54
  border-bottom 2px solid #fff
  min-width 900px
  
  img
    height 30px
    left 0px
    float left
    margin-top 10px

  nav
    overflow visible
    float right
    margin 17px 0 0 0
    padding 0

    ul
      display inline
      margin-left 0
      text-align right
      text-decoration none
    
    li
      display inline
      padding-left 22px

      a
        color #fff
        text-decoration none
        font-style normal
        font-weight 100
        font-size 11px
        letter-spacing 0.5px
        cursor pointer
      
      a:hover
        color #aaa


#wrapper
  border-radius 10px
  width 830px
  margin-top 70px
  padding 30px
  border 2px solid #fff
  background-color #ddd
  box-shadow 0 3px 15px #072454

  #projectListing
    height 540px
    width 250px
    float left
    border 1px solid #999
    border-radius 5px
    background-color #eee
    box-shadow inset 1px 1px 4px #bbb

    .sidebar-listing
      padding 15px
      margin 0

      .sidebar-item
        list-style none
        font-size 12px
        color #888

      .sidebar-item:hover
        color #666
        cursor pointer

  #form-field
    float right
    width 560px

    /* FORM STYLING */
    form
      width 555px

      legend
        font-size 25px
        color #888
        padding 0 15px
        letter-spacing 1px
        text-align center

      label
        display block
        text-align left
        color #888
        font-size 14px
        margin 15px 0 5px 2px
        letter-spacing .5px

      label:first-of-type
        margin-top 5px

      label.checkbox-label
        display inline

      select
        background url('../img/down-chevron.png') no-repeat right #ccc
        border 1px solid #777
        font-size 13px
        width 165px
        color #666
        box-shadow 0px
        -webkit-appearance: none
        padding 3px 25px 3px 10px

      input[type=checkbox]
        margin-left 10px

      input[type=file]
        text-align left
        font-size 12px

      input[type=text]
        color #666
        font-size 14px
        width 510px
        height 20px
        padding 3px 8px

      input:focus
        outline none
        box-shadow inset 1px 1px 3px #eee

      textarea
        color #666
        border 1px solid #aaa
        width 510px
        padding 8px
        resize none
        font-size 14px
        line-height 16px
        margin-bottom 15px

      textarea:focus
        outline none
        box-shadow inset 1px 1px 0px #888

      button
        width 100px
        height 30px
        margin 20px 10px 5px 0
        background-color #ccc
        border 1px solid #aaa
        border-radius 3px
        font-size 14px
        color #666

      button:hover
        background-color #ddd

      button:focus
        outline none
