div#remove(ng-controller="RemoveProjectCtrl")
  form(method="post", name='removeForm', novalidate)
    fieldset
      legend Select a project from the left to remove

      label(for="title") Title To Be Removed:
      input#title(type='text', name="projectTitle", autocomplete="off", tabindex="1", ng-model="removeFormData", required)

      button#submitForm(ng-click='removeSelected()', , ng-disabled="removeForm.$invalid || hasValue()") Remove
      button#clear(ng-click="clearForm()") Clear Form
